<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.data.test %></title>
    <link href="<%= require('./style/post.css').default %>" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="<%= require('./script/post.js').default %>"></script>
  </head>
  <body>
    <img src="<%= require('../content/touhou.jpg').default %>" alt="">
    <%= require("html-loader!markdown-loader!metaless-loader!../content/" + htmlWebpackPlugin.options.filesrc) %>
  </body>
</html>
